body {
    background: black;
}
.clock {
    /* position: absolute; */
    color: whitesmoke;
    font-size: 40px;
    letter-spacing: 10px;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 300px;
    font-family: Impact;
}